$backgroundColor: #F2EDD7;
$backgroundShadow: #9A8778;
$red: #D42127;
$green: #9CA98D;
$yellowGreen: #D2C950;
$brightGreen: #AED135;
$teal: #74C2AC;
$brown: #554840;
$darkBrown: #423B35;
$black: black;
$white: white;




/****** Vendor Imports ******/
@import 'partials/vendor/bourbon/bourbon';

/****** Style Page Imports ******/
@import 'partials/leaderBoard'; /* -marian */
@import 'partials/userPage';
/********** Main Styles ***********/
*{
  box-sizing: border-box;
  background: $backgroundColor;
  color: $brown;
}

.h1-container {
  background: $darkBrown;
  display: flex;
  width: 100%;
  height: 15vh;
  h1 {
    background: $darkBrown;
    color: $backgroundColor;
    margin: 0 auto;
    padding: 1% 0% 0% 0%;
  }
}
