!!! 5
%html(lang='en' id="leaderboard")
  %head
    %meta(charset="UTF-8")
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    %link(href="https://fonts.googleapis.com/css?family=ABeeZee|Nunito" rel="stylesheet")
    %title UserDetails:MemoryGame
  %body.user-page
  - games = [{name: 'Ragnar Lothbrok', score: '67'},{name: 'Lagertha Lothbrok', score: '98'}]
    %header
      .h1-container
        %h1 The Game of Memory
      #userpage-container
        #userpage-title
          %h2
            Welcome, User!

        %aside#userpage-aside
          %nav
            %button#goto-scores.view-scores View Scores
            %i.fa.fa-star


        -# put dummy variables for user info here
        %section#user-table
          -# .table-cell
          #user-score-div
            %h3
              Current Total:
              #total-points 29
            -# input fields will toggle readonly if edit button is pressed.
          %ul#user-details
            %li.user-name
              %i#1.fa.fa-star
              %input#user-name.input-user-info{readonly:true, type:"text", placeholder: "User Name"}
            %li.user-email
              %i#1.fa.fa-envelope
              %input#email.input-user-info{readonly:true, placeholder:"user@someemail.com", type: "email"}
            %li.user-password
              %i#1.fa.fa-key
              %input#password.input-user-info{readonly:true, type:"password"}
            %button#user-details-edit.edit-user Edit Your Information

            -# Section holding games and scores
        %section.table#score-table.hidden
          .table-cell
          -unless games.empty?
            %ul.leader#scores-ul
              -(games).each do |game|
              %li.entry
                %i.fa.fa-star
                %h3 #{game[:name]}
                %span#1 #{game[:score]} points
