!!! 5
%html(lang='en' id="leaderboard")
  %head
    %meta(charset="UTF-8")
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    -# %link(rel='stylesheet'href='../src/js/vendor/jquery-ui.min.css')
    -# %link(rel='stylesheet'href='../lib/styles/main.min.css')
    %link(href="https://fonts.googleapis.com/css?family=ABeeZee|Nunito" rel="stylesheet")
    -# %link(href="../lib/styles/vendor/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet")
    %title UserDetails:MemoryGame
  %body.user-page
    %header
      .h1-container
        %h1 The Game of Memory
      #userpage-container
        #userpage-title
          %h2
            Welcome, User!

        %aside#userpage-aside
          %nav
            %button#goto-scores.view-scores View Scores
            %i.fa.fa-star


        -# put dummy variables for user info here
        %section#user-table
          -# .table-cell
          #user-score-div
            %h3
              Current Total:
              #total-points 29
            -# input fields will toggle readonly if edit button is pressed.
          %ul#user-details
            %li.user-name
              %i#1.fa.fa-star
              %input#user-name.input-user-info{readonly:true, type:"text", placeholder: "User Name"}
            %li.user-email
              %i#1.fa.fa-envelope
              %input#email.input-user-info{readonly:true, type:"text", placeholder:"user@someemail.com"}
            %li.user-password
              %i#1.fa.fa-key
              %input#password.input-user-info{readonly:true, type:"password"}
            %button#user-details-edit Edit Your Information
            %button#user-details-submit.hidden Submit Changes

        -# put dummy variables for score sheet here
        %section.table#score-table.hidden
          .table-cell
            %ul.leader
              %li.entry#1
                %i#1.fa.fa-trophy
                %h3#1 Person 1
                %span#1 29 points
              %li.entry#2
                %i#2.fa.fa-bookmark
                %h3#2 Person 2
                %span#1 27 points
              %li.entry#1
                %i#1.fa.fa-bookmark
                %h3#1 Person 3
                %span#1 24 points
              %li.entry#2
                %i#2.fa.fa-bookmark
                %h3#2 Person 4
                %span#1 20 points
