/****** Vendor Imports ******/
@import 'partials/vendor/bourbon/bourbon';

/********** Setup ***********/
@import 'partials/setup/variables';
@import 'partials/setup/reset';
@import 'partials/setup/fonts';
@import 'partials/setup/general';

/***** Site Components ******/
@import 'partials/top-section';
@import 'partials/about';
@import 'partials/seasons';
@import 'partials/characters';

*{
  background: black;
  color: blue;
}
