#board-container
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
  =image_tag ('card-back.svg')
