-# #win-modal.modal
-#   .modal-content
-#     %h1 You Win!
-#     %input{:type=>'button', :class=>'play-again', :value=>'Play Again'}
#difficulty-buttons.h1-container
  %input{:type=>'button', :class=>'difficulty', :value=>'Easy'}
  %input{:type=>'button', :class=>'difficulty', :value=>'Medium'}
  %input{:type=>'button', :class=>'difficulty', :value=>'Hard'}
.board-wrap
  = tag("div", id: 'board-container', data: {user_id: @user.id})
