
%h1 this is the games page
%h2 where am i
#board-container
  %section{:id => "top-row"}
    #one
    #two
    #three
    #four
  %section{:id => "middle-row"}
    #one
    #two
    #three
    #four
  %section{:id => "bottom-row"}
    #one
    #two
    #three
    #four
