!!! 5
%html(lang='en' id="leaderboard")
  %head
    %meta(charset="UTF-8")
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    %link(rel='stylesheet'href='app/assets/javascripts/vendor/jquery-ui.min.css')
    %link(rel='stylesheet'href='app/assets/stylesheets/main.scss')
    %link(rel='stylesheet'href='app/assets/stylesheets/partials/vendor/font-awesome-4.6.3')
    %link(href="https://fonts.googleapis.com/css?family=ABeeZee|Nunito" rel="stylesheet")
    %link(href="app/assets/stylesheets/partials/vendor/font-awesome-4.6.3" rel="stylesheet")

    %title LeaderBoard:MemoryGame
  %body#leaderboard-body
    %header
      .h1-container
        %h1 The Game of Memory

    #leaderboard-title
      %h2
        Top Scores
        %i.fa.fa-star#left-star
        %i.fa.fa-star#right-star
    -# put dummy variables here
    %section.table
      .table-cell
        %ul.leader
          %li.entry#1
            %i#1.fa.fa-trophy
            %h3#1 Person 1
            %span#1 29 points
          %li.entry#2
            %i#2.fa.fa-bookmark
            %h3#2 Person 2
            %span#1 27 points
          %li.entry#1
            %i#1.fa.fa-bookmark
            %h3#1 Person 3
            %span#1 24 points
          %li.entry#2
            %i#2.fa.fa-bookmark
            %h3#2 Person 4
            %span#1 20 points






  %script(src="../src/js/vendor/jquery-3.1.1.min.js")
  %script(src="../src/js/vendor/jquery-ui.min.js")
  %script(src="../src/js/app.js")
