%body
  %header
    .h1-container
      %h1 The Game of Memory

  .title
    %h2
      Top Scores
      %i.fa.fa-star#left-star
      %i.fa.fa-star#right-star
  -# put dummy variables here
  %section.table
    .table-cell
      %ul.leader
        %li.entry#1
          %i#1.fa.fa-trophy
          %h3#1 Person 1
          %span#1 29 points
        %li.entry#2
          %i#2.fa.fa-bookmark
          %h3#2 Person 2
          %span#1 27 points
        %li.entry#1
          %i#1.fa.fa-bookmark
          %h3#1 Person 3
          %span#1 24 points
        %li.entry#2
          %i#2.fa.fa-bookmark
          %h3#2 Person 4
          %span#1 20 points
