%body
  %header
    .h1-container
      %h1 The Game of Memory

  .title
    %h2
      Top Scores
      %i.fa.fa-star#left-star
      %i.fa.fa-star#right-star
  -# put dummy variables here
  %section.table
    .table-cell
