#userpage-container {
  position: relative;
  text-align: center;
}
#userpage-aside {
  float: left;
  height: 70vh;
  nav {
    height: 69vh;
    background: $darkBrown;
    margin: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    div {
      height: 25%;
      margin: 6%;
    }
  }

}
