

#userpage-container {
    position: relative;
    text-align: center;
    #userpage-title {
    box-shadow: 0px 4px 9px black;
      h2 {
      color: $backgroundColor;
      background: $darkBrown;
    }
      }
}

#userpage-aside {
    float: left;
    height: 75vh;
    width: 26%;

    nav {
        height: 68vh;
        background: #423B35;
        margin: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 3px;

        div {
            height: 25%;
            margin: 15%;
            width: 70%;
            background: $backgroundColor;
            box-shadow: 0 0 14px $black;
            cursor: pointer;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                opacity: 0.6;
                color: $backgroundColor;
                background: $brown;

                &:active {
                    width: 71%;
                    height: 26%;
                    box-shadow: 0 0 4px black;
                }
            }
        }
    }
}

#user-table {
  display: flex;
  flex-direction: column;
  width: 74%;
  height: 70vh;}
#user-score-div {
  display: flex;
  justify-content: center;
  h3 {
    margin: 3% 0%;
    padding: 0% 2%;
    font-size: 1.5em;
    div {
      background: $backgroundColor;
      display: inline-block;
      transition: all 1s ease-in-out;
      font-size: 1.75em;
      animation: pulse 1s ease infinite;
    }
  }
}
#user-details {
  list-style: none;
  margin: 10% 5%;
  box-shadow: 0px 0px 29px $black;
  li {
    line-height: 3em;
    background: $darkBrown;
    position: relative;
    display: block;
    i {
      background: $darkBrown;
      color: $backgroundColor;
      font-size: 1.25em;
      margin: 0% 1%;
    }
    input {
      width: 37%;
      height: 11vh;
      margin: 1% 0%;
      font-size: 1.5em;
    }
  }
  button {
    margin: 3% 3%;
    line-height: 3em;
    font-size: 1em;
    border-radius: 16px;
    height: 14vh;
    width: 23%;
    outline: none;
    box-shadow: 1px 6px 6px $darkBrown;
    &:hover {
      background: $darkBrown;
      color: $backgroundColor;
    }
    &:active {
      box-shadow: 0px 2px 5px $backgroundColor;
      height: 14.5vh;
      width: 23.2%;
      transform: translate(2px, 2px);
    }


  }
}
@keyframes pulse {
    0% {
        transform: rotateX(15deg);
    }

    50% {
        transform: rotateX(-30deg);
    }

    100% {
        transform: rotateX(15deg);
    }

}
