// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-wrap {
  height: 100vh;
  min-height: 500px;
  padding: 3vh;
}
html {
  height: 100%;
}
#board-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  min-height: 100%;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
}

.card {
  align-items: center;
  cursor: pointer;
  margin: 0 0 2vh 0;
  width: 22%;
  perspective: 1000px;
  z-index: 50;
}

.flipper {
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease-in-out;
  width: 100%;
  &.flip {
    transform: rotateY(180deg);
  }
}

.front,
.back {
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(-180deg);
  background: rgba(22, 162, 193, 0.95);
  height: 100%;
}

.back {
  transform: rotateY(0deg);
  height: 100%;
  width: 100%;
  background: white;
  background-image: url('TIY.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.card, .flipper, .front, .back {
  border-radius: 25px;
  flex-shrink: 1;
}

#difficulty-buttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3vh;
  input {
    @include button(shiny, #f4f2eb);
    font-size: 4vh;
    height: 60%;
    outline: none;
    width: 20%;
    text-decoration: none;
    color: $brown;
    text-shadow: 1px 1px 2px $darkBrown;

  }
}
