// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.board-wrap {
  height: 100vh;
  min-height: 500px;
  padding: 3vh;
}
#board-container,
.board-wrap,
.card,
.flipper {
  background: none;
}

html {
  height: 100%;
}
#board-container {
  display: flex;
  justify-content: space-around;
  height: 100%;
  min-height: 100%;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
}

$cardImages: 'dan.jpg', 'dana.png', 'jeff.jpg', 'bryce.jpg', 'nicole.jpeg', 'sam.jpg', 'tiy-group.jpg', 'alyssa.jpg', 'back-end.png', 'front-end.png', 'python.png', 'design.png', 'mobile.png';

.card {
  align-items: center;
  cursor: pointer;
  margin: 0 0 2vh 0;
  width: 22%;
  perspective: 1000px;
  z-index: 50;


  @for $index from 1 through length($cardImages) {
    $image: nth($cardImages, $index);
    &[data-card-id="#{$index}"] {
      .front {
        background-image: image_url($image);
      }
    }
  }
}



.flipper {
  height: 100%;
  transform-style: preserve-3d;
  transition: .5s ease-in-out;
  width: 100%;
  &.flip {
    transform: rotateY(180deg);
  }
}

.front,
.back {
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(-180deg);
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  opacity: .9;
}

.back {
  transform: rotateY(0deg);
  height: 100%;
  width: 100%;
  background: white;
  background-image: image_url('TIY.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .9;
}

.card, .flipper, .front, .back {
  border-radius: 25px;
  flex-shrink: 1;
}

#difficulty-buttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3vh;
  input {
    @include button(shiny, #f4f2eb);
    font-size: 4vh;
    height: 60%;
    outline: none;
    width: 20%;
    text-decoration: none;
    color: $brown;
    text-shadow: 1px 1px 2px $darkBrown;

  }
}

.modal {
  display: none;
  padding: 10%;
  position: absolute;
  bottom: -25vh;
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: .7;
}
.modal-content {
  background-color: rgb(175, 167, 162);
  width: 60%;
  height: 80%;
  margin: 0 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  z-index: 10;
  h1, h3 {
    background: none;
    opacity: .9;
    color: white;
    align-self: flex-end;
    flex-grow: 1;
    width: 100%;
    text-align: center;
  }
  .play-again {
    opacity: 1;
    cursor: pointer;
    width: 50%;
    color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    background-color: #ef5350;
    transition: transform .5s;
    &:hover {
      background-color: #b83432;
      transform: scale(1.05);
    }
    &:active {
      transform: translate(0, 30px);
    }
  }
}
