// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#board-container {
  @include outer-container();
  .flipContainer {
    @include span-columns(3);
    @include perspective(1000);
    justify-content: center;
    cursor: pointer;
    &.flip .flipper {
      @include transform(rotateY(180deg));
    }
  }
}
.flipper, .front, .back {
  height: 200px;
  width: 200px;
}
.flipper {
  @include transition(null 0.6s null);
  @include transform-style(preserve-3d);
  .front,
  .back {
    @include backface-visibility(hidden);
  }
  .front {
    @include transform(rotateY(0deg));
    background: red;
  }
  .back {
    @include transform(rotateY(180deg));
    background: blue;
  }
}

#difficulty-buttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3vh;
  input {
    height: 40px;
    width: 20%;
  }
}
