// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 70%;
  align-self: center;
}
.user-prompts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: none;
  a {
    text-decoration: none;
    color: $brown;
    text-shadow: 1px 1px 2px $darkBrown;
  }
  .container {
    display: flex;
  }
}
.login-wrapper {
  display: flex;
  width: 100%;
  box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);
}
.login {
  width: 100%;
  .container-login {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .container-signup {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .form {
    background: rgba(242, 237, 215, 0.55);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60vh;
    justify-content: center;
    margin-left: auto;
    width: 100%;
    padding: 20px;
    &.signup {
      margin-right: auto;
      margin-left: 0;
    }
    h1 {
      text-align: center;
      background: none;
      font-family: 'Open Sans', sans-serif;
      margin: 0;
    }
  }
}
form {
  background: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 50%;
  input {
    outline: none;
    border: none;
    font-size: 20px;
    background-color: white;
    height: 25%;
    flex: 1 1 100%;
    padding: 15px;
    margin-top: 20px;
    &:focus {
      box-shadow: inset 3px 1px 10px -1px rgba(0, 0, 0, 0.41);
      border: 1px solid #aaaaaa;
    }
  }
}
#button {
  cursor: pointer;
  width: 50%;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  background-color: #ef5350;
  transition: transform 1s;
  &:hover {
    background-color: #b83432;
    transform: scale(1.05);
  }
  &:active {
    transform: translate(0, 30px);
  }
}
