// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-prompts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: rgb(35, 52, 64);
    text-decoration: none;
  }
}
