!!! 5
%html(lang='en')
  %head
    %meta(charset="UTF-8")
    %meta(content="width-device-width, initial-scale=1" name="viewport")
    %link(rel='stylesheet'href='src/styles/jquery-ui.min.css')
    %link(rel='stylesheet'href='src/styles/main.min.css')
    %title The Game of Memory
  %body
    -# put dummy variables here
    %header The Game of Memory


  %script(src="src/js/vendor.jquery-3.1.1.min.js")
  %script(src="src/js/vendor.jquery-ui.min.js")
  %script(src="src/js/app.js")
