!!! 5
%html(lang='en' id="leaderboard")
  %head
    %meta(charset="UTF-8")
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    %link(rel='stylesheet'href='/app/assets/stylesheets/main.min.css')
    %link(href="https://fonts.googleapis.com/css?family=ABeeZee|Nunito" rel="stylesheet")
    %link(href="../lib/styles/vendor/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet")
    %title LeaderBoard:MemoryGame
  %body#leaderboard-body
    = yield






  %script(src="../src/js/vendor/jquery-3.1.1.min.js")
  %script(src="../src/js/vendor/jquery-ui.min.js")
  %script(src="../src/js/app.js")
