!!! 5
%html(lang='en')
  %head
    %meta(charset="UTF-8")
    %meta(content="width=device-width, initial-scale=1" name="viewport")
    %link(rel='stylesheet'href='../src/js/vendor/jquery-ui.min.css')
    %link(rel='stylesheet'href='../lib/styles/main.min.css')
    %title LeaderBoard:MemoryGame
  %body
    %header
      .h1-container
        %h1 The Game of Memory

    #leaderboard-title
      %h2 Top Scores
    -# put dummy variables here
    %section.table
      .table-cell
        %ul.leader
          %li.entry#1
            %i#1 1
            %h3#1 Person 1
            %span#1 25 points
          %li.entry#2
            %i#2 2
            %h3#2 Person 2
            %span#1 27 points






  %script(src="../src/js/vendor/jquery-3.1.1.min.js")
  %script(src="../src/js/vendor/jquery-ui.min.js")
  %script(src="../src/js/app.js")
